{% extends "layout.html" %}

{% block title %}
    Welcome to Freelancer Helper. Please log in!
{% endblock %}

{% block main %}

<h1>Freelancer Helper</h1>

    <h2>Get organized, work less, earn more</h2>

    <br>
    <p>Welcome to Freelancer Helper!</p>
    <p>We want to empower you to be in control of your work, make the most of your time and be a successful solopreneur for many years to come.</p>
    <p>Whether you are just starting out your freelancing adventures or are a seasoned pro, we hope you find our tools helpful.
        We can help you know how much you should charge per hour and how lucrative your current clients are.
    </p>
    <p>To start using this page, please <a href="/login">log in</a> or <a href="/register">register</a>.</p>

{% endblock %}