{% extends "layout.html" %}

{% block title %}
    Welcome to Freelancer Helper. Check our tools!
{% endblock %}

{% block main %}

<h1>Freelancer Helper</h1>

    <h2>Get organized, work less, earn more</h2>

    <br>
    <p>Welcome to Freelancer Helper!</p>
    <p>We offer a set of tools to help you organize your freelancing life.</p>
    <p>With our help, you will be able to be in control of your work, avoid "feast and famine" cycles and earn more while working less hours.</p>
    <p>To start with, please visit our <a href="/rate">rate per hour calculator</a> to figure out how much you should be charging your clients.</p>
    <p>You can also use <a href="/clients">this tool</a> to keep track of your current clients and how profitable they are.</p>
    <p>Finally, you can also visit <a href="/summary">My summary</a> to see how you are doing.</p>

{% endblock %}